```
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
*test.py

# enviorment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# os
.DS_Store
Thumbs.db

# temp
tmp/
temp/
*.log

# testing file
.pytest_cache/
.coverage
htmlcov/

# md
*note.md
```
